API_ID="16795822"   # Get it from my.telegram.org
API_HASH="791cc620cf2344a0fbf20b258fa679d2"   # Get it from my.telegram.org
FEED_URLS="https://rarbg.to/rssdd_magnet.php?category=xx"  # RSS Feed URL of the site.
BOT_TOKEN="5292863326:AAEJGPYM1sAKuKHnk7yi7u7jyY2ldnJoLg0"   # Get it by creating a bot on https://t.me/botfather
LOG_CHANNEL="-1001371331116"   # Telegram Channel ID where the bot is added and have write permission. You can use group ID too.
INTERVAL="200"   # Check Interval in seconds.
MAX_INSTANCES="10"   # Max parallel instance to be used.
DATABASE_URL="" #Postgres DB url (Heroku users, just add Heroku Postgres Add-on

# Following variabls are required only if you want to use your tg account to send /mirror cmd to any mirror bot.
MIRROR_CHAT_ID="-1001371331116"   #Group/chat_id of mirror chat or mirror bot to send mirror cmd.
MIRROR_CMD="/mirror"   #if you have changed default cmd of mirror bot, replace this.
STR_SESSION="1BVtsOL8Bu0mQRXqkegXMN-queFu1cTayf6gyP1pSBjaXYs8HoevpvpiHCizehgj_B2nnyKojZ-tajtLl89CsgFfqjiLw3wVsKTmBbazIUWvkW8ydF4pQP9mjvtQM3MCRxmUAMULOGcqnYL4qI4BrJO813vg6dEVZ5bi54nUCCcRo1UdLU03hd_dNeKNR97Rt1S8p-oAPghGbN2jFBM-qFOm3EUY8dzWrK4JhiQYDiW58yNDCvAh1SNizogr4axzFwhaRqtNbwJxlLHTE8Ny0uvG-u3ngINdxO61Sb6TxDEpE6y1WRQGTc0Ss2mwFXKB_EkuWmSoHFy9KR61NaBs6Wjlv7w5Ysq0="   #String session generate using your tg mobile number for sending mirror cmd on your behalf. Generate by running
